{% extends 'rate/base.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block body_block %}

    <h1><strong>{{ boldmessage }}</strong><br/></h1>

    <h2>Team Members:</h2>
    <h3> Paraskevas Sarris</h3>
    <img src="{% static "groupMembers/Paris.jpg" %}" alt="Picture of Paris" width="200" height="200"/>
    <h3>Pantelis Georgiades</h3>
    <img src="{% static "groupMembers/Pantelis.jpg" %}" alt="Picture of Pantelis" width="200" height="200"/>
    <h3>Marios Fantaoutsakis</h3>
    <img src="{% static "groupMembers/Marios.jpg" %}" alt="Picture of Marios" width="200" height="200"/>
    <h3> Ektor Pavlos Paradeisis </h3>
    <img src="{% static "groupMembers/Ektor.jpg" %}" alt="Picture of Ektor" width="200" height="200"/>
    <h3>Constantinos Charalambous</h3>
    <img src="{% static "groupMembers/Conn.jpg" %}" alt="Picture of Connie" width="200" height="200"/>

{% endblock %}