{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RmC - {% block title %}Rate My Course{% endblock %}</title>
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link href="../../../static/css/mystyle.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--xtra css -->

</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="container"
         style="background-image: url('/static/images/logo_bg.jpg'); background-repeat: no-repeat; background-size: cover">
        <div class="navbar-header" style="height: 200px">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/rate/"><img src="/static/images/logo2.png"
                                                       style=" width: 240px; height: 150px"/></a>
        </div>
        <div class="navbar-collapse collapse" style="height: 0px;">
            <div class="top-right">
                <div class="top" style="height: 100px">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            {% if user.is_authenticated %}
                                Welcome {{ user.username }}
                                <a class="dropdown-toggle" href="/rate/logout/">
                                    Logout
                                    <b class="caret"></b>
                                </a>
                            {% else %}
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    Login/Register
                                    <b class="caret"></b>
                                    </br>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/rate/login/">Login</a>
                                    </li>
                                    <li>
                                        <a href="/rate/register/">Register</a>

                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="bottom" style="height: 100px">
                    <ul class="nav navbar-nav " style=" position: absolute;left: 50%;">
                        <li class="active">
                            <a href="/rate/">Home</a>
                        </li>
                        <li>
                            <a href="/rate/rated_courses/top"> Rated Courses</a>
                        </li>
                        <li>
                            <a href="/rate/contact/">Contact Us</a>
                        </li>
                        <li>
                            <a href="/rate/about/">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ol style="background-color: inherit; margin-bottom: 0px;
padding: 0;" class="breadcrumb">
            {% block path %}
                <li class="active">Home</li>
            {% endblock %}
        </ol>
    </div>
</div>
<div class="container">{% block body_block %}{% endblock %}</div>
<!--
    <footer>

    </footer>
-->
<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"/>
</body>
</html>


