{% extends 'rate/base.html' %}
{% block body_block %}
    <div class="container-fluid" style="border: dotted" xmlns="http://www.w3.org/1999/html">
        <div style="float: left">
            <h4>Internet Technology</h4>
            <h5>University of Glasgow</h5>
            <h5>Year: 2014</h5>
            <h5>Professor: Leif</h5>
            <h5>Level: M</h5>
        </div>
        <div style="float: right">
            <h2>4.9</h2>
            </br>
            <a class="btn btn-primary" href="#" style="float: right">RATE</a>
        </div>
    </div>
    <div class="container-fluid" style="border: dotted">
        <h5>Comments</h5>

        <div style="background-color: lightgray"><p>kalimera</p></div>
        <div style="background-color: lightgray"><p>To mathima itan gtp</p></div>
    </div>
{% endblock %}