{% extends 'rate/base.html' %}
{% block title %}{{ course_title }}{% endblock %}
{% block body_block %}
    <div class="container-fluid" style="border: dotted">
        <div class="container-fluid" style="float: left">
            <h4>{{ course_title }}</h4>
            <h5>{{ course.university.name }}</h5>
            <h5>Year: {{ course.year }}</h5>
            <h5>Professor: {{ course.professor }}</h5>
            <h5>Level: {% if course.level == 5 %} MSc {% else %} {{ course.level }}{% endif %}</h5>
        </div>
        <div class="container-fluid" style="float: right">
            <h2>{{ course.stored_average_rating }}</h2>
            </br>
                <a class="btn btn-primary" href="/rate/course/{{ course.url }}/rateIt" style="float: right">RATE</a>
        </div>
    </div>
    <div class="container-fluid" style="border: dotted">
        <h4>Comments</h4>

        {% for i in rate %}
            <div class="navbar-text"><p>{{ i.comment }}</p></div>
        {% endfor %}
    </div>
{% endblock %}