{% extends 'rate/base.html' %}

{% block title %}Login{% endblock %}
{% block path %} <a href="/rate/">Home</a> > Login {% endblock %}
{% block body_block %}
    <h1>Login to Rate my Course</h1>

    <form id="login_form" method="post" action="/rate/login/">
        {% csrf_token %}
        Email: <input type="text" name="username" value="" size="50"/>
        <br/>
        Password: <input type="password" name="password" value="" size="50"/>
        <br/>
        <input type="submit" value="Sign in"/>
    </form>
    <p><a href="/rate/underConstruction"><em>Forgot your password?</em></a></p>
{% endblock %}