{% extends 'rate/base.html' %}
{% block title %}{{ course_title }}{% endblock %}
{% block path %} <li><a href="/rate/">Home</a></li><li class="active">Course</li><li><a href="/rate/course/{{course_url}}">{{ course_title }}</a></li><li class="active">Rate</li>{% endblock %}
{% block body_block %}
    <div class="container-fluid" style="border: dotted">
        <div class="container-fluid" style="float: left">
            <h4>{{ course_title }}</h4>
            <h5>{{ course.university.name }}</h5>
            <h5>Year: {{ course.year }}</h5>
            <h5>Professor: {{ course.professor }}</h5>
            <h5>Level: {% if course.level == 5 %} MSc {% else %} L{{ course.level }}{% endif %}</h5>
            <hr>
            <h5>Rate this course</h5>

            <form method="post">
                {% csrf_token %}
                <input type="radio" name="q1" value="1"/> 1
                <input type="radio" name="q1" value="2"/> 2
                <input type="radio" name="q1" value="3"/> 3
                <input type="radio" name="q1" value="4"/> 4
                <input type="radio" name="q1" value="5"/> 5

                <h6>Write any comments for {{ course_title }} course. (optional)</h6>
                <textarea name="comments" cols="50" rows="5" wrap="soft|hard"></textarea><br>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}

http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Buzz-Star-icon.png
http://www.google.co.uk/url?sa=i&source=images&cd=&docid=6J3oQYKKA4uA3M&tbnid=Ul5IecwAmw1MKM:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.gettyicons.com%2Fdownload%2F%3Fid%3D3343%26t%3Dpng%26s%3D256&ei=obkkU9OnDI760gW6pYHQBw&psig=AFQjCNFpHsF9kAeGo2BtPW4fEpTn94x0hw&ust=1395002145241460