{% extends 'rate/base.html' %}
{% block title %}{{ course_title }}{% endblock %}
{% block body_block %}
    <div class="container-fluid" style="border: dotted">
        <div class="container-fluid" style="float: left">
            <h4>{{ course_title }}</h4>
            <h5>{{ course.university.name }}</h5>
            <h5>Year: {{ course.year }}</h5>
            <h5>Professor: {{ course.professor }}</h5>
            <h5>Level: {% if course.level == 5 %} MSc {% else %} L{{ course.level }}{% endif %}</h5>
            <hr>
            <h5>Rate this course</h5>

            <form method="post">
                {% csrf_token %}
                <input type="radio" name="q1" value="1"/> 1
                <input type="radio" name="q1" value="2"/> 2
                <input type="radio" name="q1" value="3"/> 3
                <input type="radio" name="q1" value="4"/> 4
                <input type="radio" name="q1" value="5"/> 5

                <h6>Write any comments for {{ course_title }} course. (optional)</h6>
                <textarea name="comments" cols="50" rows="5" wrap="soft|hard">Enter your comments here...
                </textarea><br>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}