
{% extends 'rate/base.html' %}

    {% block title %}Register{% endblock %}
	{% block body_block %}
        {% if registered %}
            <h4>Thank you for registering!</h4>
            <a href="/rate/">Return to the homepage.</a><br />
        {% else %}
            <h4>New to Rate this Course?</h4>
            <h5>Register here!</h5>
            <form id="user_form" method="post" action="/rate/register/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                <input type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
	{% endblock %}


