{% extends 'rate/base.html' %}

{% block title %}Register{% endblock %}
{% block path %}
    <li><a href="/rate/">Home</a></li>
    <li class="active">Register</li>{% endblock %}
{% block body_block %}
    {% if registered %}
        <h4>You have already an account.</h4>
        <a href="/rate/">Return to the homepage.</a><br/>
    {% else %}
        <br><br>
        <div class="my_login_container">
            <div class="col-md-4">
                <div class="thumbnail" style="padding: 4px 18px 24px 18px;">
                    <h1>New to Rate my Course?</h1>

                    <h2>Register here!</h2><br>

                    <form class="form-horizontal" id="user_form" method="post" action="/rate/register/"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <label>Email address</label>
                        <input class="form-control" type="text" name="email"/></br>
                        <label>Password</label>
                        <input class="form-control" type="password" name="password"/></br>
                        <label>First Name</label>
                        <input class="form-control" type="text" name="first_name"/></br>
                        <label>Last Name</label>
                        <input class="form-control" type="text" name="last_name"/></br><br>
                        <input class="btn btn-primary" style="width:150px;" type="submit" name="submit" value="Register"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="my_extra_space" style="height:150px;"></div>
    {% endif %}
{% endblock %}