{% extends 'rate/base.html' %}

    {% block title %}No access{% endblock %}
	{% block body_block %}

        <h1>Access denied</h1>
        <h2>You are not authorized to access this page.</h2>

        <h3>Please select one of the following options</h3>

        <table width="1000" border="0" align="left">
        <tr>
        <td width="20">
        <td width="450" align="left" valign="top">
            <br>
            <p><h4>Sign in</h4></p>

            <form id="login_form" method="post" action="/rate/login/">
                If you are already registered insert your login details:</br>
                {% csrf_token %}
                Email: <input type="text" name="username" value="" size="50"/>
                <br />
                Password: <input type="password" name="password" value="" size="50"/>
                <br />

                <input type="submit" value="Sign in" />
            </form>
            <p><a href="/rate/underConstruction"><em>Forgot your password?</em></a></p>
            </form>
            <br>
        </td>
        <td width="80">
        <td width="450" align="left" valign="top">
            <br>
            <p><h4>New to Rate this Course?</h4></p>
            <p><h5>Get started now. It's fast and easy.</h5></p>

            <ul >
                 <li>The ratings are close to reality, because only students that provide a verified university e-mail address are allowed to register and eventually rate a course.</li>
                 <li>The ratings are posted anonymously and the users do not feel that they are in threatened if they provide negative feedback.</li>
            </ul>
            <form action="/rango/register/" method="post">
            <p align="left">
            <input type="submit" name="button" value="Register">
            </p>
            </form>
        </td>
        </tr>
        </table>
        <br/>
    {% endblock %}